{% include 'header.html' %}

        <h1 class="title">{{title}} Report</h1>
        <a href="/">Home</a>
{% include 'byline.html' %}

        <h2 class="title">Stats</h2>
        <div class="content">
        <div>Number of new articles in the last hour: {{stats.last_hour}}</div>
        <div>Number of new articles in the last day: {{stats.last_day}}</div>
        <div>Last updated at UTC {{now.strftime("%Y-%m-%d %H:%m:%S")}} (<span class="localdate" x-utc="{{now}}"></span>)</div>

        </div>

        <h2 class="title" id="articles">Recent articles</h2>
        {% for article in articles %}
        <div class="box article">
            <h5 class="title is-5"><a href="{{article.url}}">{{article.title}}</a></h5>
            <div>
            Published_at: {{article.published_at}} (elapsed time: {{article.elapsed_time}})
            <!-- (elapsed time: {{article.elapsed_time.total_seconds()|int}} s) -->
            </div>
            <div>
            Author: {{article.user.name}} <a href="http://{{host}}/{{article.user.username}}">({{article.user.username}})</a>
            Joined: {{article.usr.joined_at}}
            {% if article.usr.days_since_signup <= 2 %}
                <span class="tag is-danger">less than 2 days ago<span>
            {% else %}
                ({{ article.usr.days_since_signup }} days ago)
            {% endif %}
            </div>
            <div class="content">
            Article count: {{article.usr.article_count}}
                {% if article.usr.article_count < 2 %}<span class="tag is-success">First time author</span>{% endif %}
                {% if article.usr.article_count >= 2 and article.usr.days_since_signup <= 2 %}<span class="tag is-danger">More than 1 post by new member</span>{% endif %}
            </div>
            <div class="content">
                {% for tag in article.tag_list %} <a href="https://{{host}}/t/{{ tag }}" class="button">{{ tag }}</a> {% endfor %}
            </div>
        </div>
        {% endfor %}

      </div>
    </section>

{% include 'footer.html' %}

