{% include 'header.html' %}

<h1 class="title">Forem sites</h1>


<table class="table">
  <thead>
    <tr>
      <th>Host</th>
      <th>Last hour</th>
      <th>Last day</th>
      <th>URL</th>
    </tr>
  </thead>

  <tbody>
    {% for host in hosts.keys()  %}
    <tr>
      <td><a href="/{{host}}/">{{hosts[host]}}</a></td>
      <td>{{stats[host].last_hour}}</td>
      <td>{{stats[host].last_day}}</td>
      <td><a href="https://{{host}}/">{{hosts[host]}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div>Last updated at UTC {{now}}</div>
<div>In your timezone <span class="localdate" x-utc="{{now}}"></span></div>

<div>
Check out the full list of <a href="https://discover.forem.com/">public Forem-based sites</a>.
</div>

{% include 'footer.html' %}
